html, body
{
    height: 100%;
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    color: black;
}
ol
{
    list-style-type: none;
}


.container-question
{
    margin-top: 15rem;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 16px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
}
.input-radio
{
    appearance: none;
    width: 50px;
}
.container-buttons input:checked + span
{
    background-color:#404040;
    color:#F7F7F7;
}